#slider{
	display: none;
}
.lesspadding{
	padding: 0;
}

.img-lang-tablet{
	display: none;
}
.img-fb-tablet{
	display: none;
}
.img-twit-tablet{
	display: none;
}
.img-tube-tablet{
	display: none;
}
.img-insta-tablet{
	display: none;
}   

.menu-bg{
	background: rgba(255,255,255,0.5);
	border-radius: 0 20px 20px 0;
	text-align: center;
	width: 50px;
	padding: 2px 8px 2px 0;
}

.Background{
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background: url('../images/bg_home.png') no-repeat;
	background-size: cover;
	height: 710px;
	z-index: 99999;
}

.Background-about{
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background: url('../images/bg_about.png') no-repeat;
	background-size: cover;
	z-index: 99999;
	background-color: #4b4b4b;
}

.Background-choose{
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background: url('../images/bg_choose.png') repeat-y;
	background-size: cover;
	z-index: 99999;
	background-color: #4b4b4b;
}

.Background-service{
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background: url('../images/bg_service.png') repeat-y;
	background-size: cover;
	z-index: 99999;
	background-color: #4b4b4b;
}

.Background-alliance{
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background: url('../images/bg_alliance.png') repeat-y;
	background-size: cover;
	z-index: 99999;
	background-color: #4b4b4b;
}

.Background-clients{
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background: url('../images/bg_clients.png') repeat-y;
	background-size: cover;
	z-index: 99999;
	background-color: #4b4b4b;
}

.Background-portfolio{
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background: url('../images/bg_portfolio.png') repeat-y;
	background-size: cover;
	z-index: 99999;
	background-color: #4b4b4b;
}

.Background-contact{
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background: url('../images/bg_contact.png') repeat-y;
	background-size: cover;
	z-index: 99999;
	background-color: #4b4b4b;
}

.Image{
	padding: 0 0.5em 0 0.5em;
}

.Image-logo{
	width: 100%;
}

.Social{
	list-style: none;
}

.Social li{
	margin: 0.5em 0 0.5em -2em;
}


.Social-bg{
	background: rgba(255,255,255,0.5);
	border-radius: 20px 0 0 20px;
	text-align: center;
	width: 50px;
	padding: 8px 0 8px 0px;
}

.MainTitle{
	margin: 11em 0 0 0;
}

.MainAbout{
	margin: 15em 0 0 0;
	padding: 0.5em;
}

.MainTitle-sub{
	text-align: center;
	color: #a4a9b2;
	text-transform: uppercase;
	margin:0;
}

.MainTitle-main{
	text-align: center;
	color: #f7941e;
	text-transform: uppercase;
	margin: 0;
}

.Footer{
	bottom: 0;
	right: 0;
	position: fixed;
}

.Footer-text{
	background: rgba(255,255,255,0.8);
	border-radius: 20px 0 0 20px;
	text-align: center;
	padding: 1em;
    width: 275px;
    color: #232323;
    font-size: 0.8em;
    margin-bottom: 0;
}

.MainAbout-content{
	text-align: center;
	color: white;
}

.MainAbout-sub{
	text-align: center;
	color: white;
	text-transform: uppercase;
	margin: 1em 0 1em 0;
}

.MainAbout-main{
	text-align: center;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	margin: 0;
}

.MainChoose{
	margin: 15em 0 0 0;
	padding: 0.5em;
}

.MainChoose-sub{
	text-align: center;
	color: white;
	text-transform: uppercase;
	margin: 1em 0 1em 0;
}

.MainChoose-main{
	text-align: center;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	margin: 0;
	font-size: 2.2em;
}

.MainChoose-objectives{
	text-align: center;
}

.MainChoose-objectives-title{
	text-align: center;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.5em;
}

.MainChoose-objectives-list{
	color: white;
}

.MainChoose-objectives-subtitle{
	text-align: center;
	color: white;
}

.MainService{
	margin: 15em 0 15em 0;
	padding: 0.5em;
}

.MainService-sub{
	text-align: center;
	color: white;
	text-transform: uppercase;
	margin: 1em 0 1em 0;
}

.MainService-main{
	text-align: center;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	margin: 0;
	font-size: 2.2em;
}

.MainService-list{
	color: white;
}

.MainAlliance{
	margin: 15em 0 5em 0;
	padding: 0.5em;
}

.MainAlliance-main{
	text-align: center;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	margin: 0;
	font-size: 2.2em;
}

.MainAlliance-partner{
	text-align: center;
	margin: 2em 0 0 0;
}

.MainClients{
	margin: 15em 0 0 0;
	padding: 0.5em;
}

.MainClients-main{
	text-align: center;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	margin: 0;
	/*height: 710px;*/
	font-size: 2.2em;
}

.MainClients-partner{
	text-align: center;
	margin: 2em 0 0 0;
}


.MainPortfolio{
	margin: 15em 0 0 0;
	padding: 0.5em;
}

.MainPortfolio-main{
	text-align: center;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	margin: 0;
	height: 710px;
	font-size: 2.2em;
}

.MainContact{
	margin: 15em 0 0 0;
	padding: 0.5em;
}

.MainContact-form{
	margin: 3em 0 6em 0;
}

.MainContact-main{
	text-align: center;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	margin: 0;
	/*height: 710px;*/
	font-size: 2.2em;
}

.Navigation{
	position: fixed;
	z-index: 99999;
	width: 50%;
	text-align: center;
	top: 0;
	max-width: 100%;
	
}

.Navigation ul{
	list-style: none;
	padding: 0;
	
}

.Navigation ul li{
	border: 1px solid #f47f21;
	width: 100%;
	margin: 0.1em 0 0.1em 0;
	padding: 1em 0 1em 0;
	background: rgba(255,255,255,0.9);
}


.MainContact-button-send{
	text-align: center;
}

.MainContact-button-send button{
	width: 30% !important;
  	margin: 1em 0 2em 0 !important;
  	border-radius: 0 !important;
  	outline: 0 none !important;
  	background-color: #b74f5c;
   	background: #b74f5c;
  	color: #fff;
  	text-transform: uppercase;
  	outline: 0 none !important;
  	border: 0 !important;
  	font-weight: bold;
  	padding: 0.5em;
}

.MainContact-button-send button:hover{
	
  	background-color: #b74f5c;
   	background: #b74f5c;
  	color: #fff;
}

.MainContact-form input, textarea{
  border-radius: 0 !important;
  outline: 0 none !important;
  background: rgba(255, 255, 255, 0.5) !important;
}

.MainContact-form input:focus{
  outline: 0 none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.MainContact-form textarea:focus{
  outline: 0 none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.MainContact-form .form-group{
	margin-right: 0 !important;
}


.margin-input{
	padding: 0 0 0 0.5em;
}

.banner { position: relative; height: 500px; }
.banner li { list-style: none; }
.banner ul li { float: left; }

.grid-clients{
	padding: 0;
	margin-left: -1em;
}

.client-wrapper{
	padding: 0;
	text-align: center;
}

.lessright{
	margin-right: 0;
}

div.content-clients:first-child{
	margin-top: 7em;
	margin-bottom: 4em;
}

div.content-clients:last-child{
	margin-bottom: 7em;
}
.content-clients{
	margin: 2em 0 4em 0;
	padding: 0;
}

.prev{
	position: absolute;
    top: 15em;
	z-index: 999999;
}

.next{
	position: absolute;
    top: 15em;
    right: 0;
    z-index: 999999;
}


@media screen and (min-width: 360px){
  	
  	.Background{
  		height:801px;
  	}

  	.Background-about{
  		padding-bottom: 5em;
  	}

  	.Background-choose{
  		padding-bottom: 5em;
  	}

  	.Background-service{
  		padding-bottom: 5em;
  	}
}

@media screen and (min-width: 375px){
	.Social li {
    	margin: 0.5em 0 0.5em -1.5em;
    }
  	
  	.Background{
  		height:801px;
  	}

  	.Background-about{
  		padding-bottom: 5em;
  	}

  	.Background-choose{
  		padding-bottom: 5em;
  	}

  	.Background-service{
  		padding-bottom: 5em;
  	}
}


@media screen and (min-width: 412px){
    .Background{
  		height:853px;
  	}
}

@media screen and (min-width: 480px){
    .Social li {
    	margin: 0.5em 0 0.5em -0.5em;
    }
    .Background{
  		height:994px;
  	}
}

@media screen and (min-width: 567px){
    .Social li {
    	margin: 0.5em 0 0.5em 0.5em;
    }
    .Background{
  		height:1175px;
  	}

  	.MainTitle {
    	margin: 18em 0 0 0;
    }
}


@media screen and (min-width: 598px){
    .Social li {
    	margin: 0.5em 0 0.5em 1em;
    }
    .Background{
  		height:1238px;
  	}

  	.MainTitle {
    	margin: 18em 0 0 0;
    }
}

@media screen and (min-width: 600px){
    .MainAbout-content{
    	font-size: 1.2em;
    }

    .MainChoose-objectives-list{
    	font-size: 1.2em;
    }

    .MainChoose-objectives-list{
    	font-size: 1.2em;
    }

    .MainChoose-objectives-subtitle{
		font-size: 1.2em;
    }

    .MainService-list{
    	font-size: 1.2em;
    }

    .MainTitle {
    	margin: 20em 0 0 0;
    }

    .MainTitle-sub {
		font-size: 3em;
    }

    .MainTitle-main{
		font-size: 3.5em;
    }

}

@media screen and (min-width: 640px){
    .Social li {
    	margin: 0.5em 0 0.5em 1.5em;
    }
    .Background{
  		height:1325px;
  	}
}

@media screen and (min-width: 667px){    
    .Background{
  		height:1380px;
  	}
}

@media screen and (min-width: 690px){    
    .Social li {
    	margin: 0.5em 0 0.5em 2em;
    }

    .Background{
  		height:1427px;
  	}
}

/**** Tablets ***/


@media screen and (min-width: 768px){ 
	.img-lang{
		display: none;
	}
	.img-fb{
		display: none;
	}
	.img-twit{
		display: none;
	}
	.img-tube{
		display: none;
	}
	.img-insta{
		display: none;
	}

	.img-lang-tablet{
		display: block;
	}
	.img-fb-tablet{
		display: block;
	}
	.img-twit-tablet{
		display: block;
	}
	.img-tube-tablet{
		display: block;
	}
	.img-insta-tablet{
		display: block;
	}   
    .Social li {
    	margin: 0.5em 0 0.5em -0.5em;
    	padding-left: 1.5em;
    }

    .Background{
    	background: url('../images/bg_hometablet.png') no-repeat;
  		height:1247px;
  		background-size: cover;
  		margin-top: -1em;
  	}

  	.menu-bg {	    
	    width: 70px;
	    padding: 11px 8px 11px 0;
	}

  	.Image {
	    padding: 0 3.5em 0 3.5em;
	}

	.MainTitle {
    	margin: 25em 0 0 0;
    }

    .MainTitle-sub {
		font-size: 4em;
    }

    .MainTitle-main{
		font-size: 4.5em;
    }

	/*.Social{
		position: fixed;
    	right: 0;
	}*/

    .Social-bg {
    	text-align: center;
	    width: 95px;
	    padding: 11px 0 11px 0px;
    }
}

