html,body {
  font-family: Ubuntu;
}
.modal{
	z-index: 999999999;
}

.carousel-control{
	background-image: none !important;
}

.carousel-inner{
	height: 600px;
}

.left{
	margin-left: -1em;
}

.modal-dialog{
	top: 9em;
	width: 70%;
}
#slider{
	display: none;
}
#marketing{
	display: none;
}

#web{
	display: none;
}

#community{
	display: none;
}

#design{
	display: none;
}
#multimedia{
	display: none;
}

#bg1{
    display: none;
}

#bg2{
	display: none;
}

#bg3{	 
    display: none;
}
.lesspadding{
	padding: 0;
}
.lessbottom{
	margin-bottom: 0;
}

.center{
	text-align: center;
}

.absolute{
	position: absolute;
}
.img-lang-tablet{
	display: none;
}
.img-fb-tablet{
	display: none;
}
.img-twit-tablet{
	display: none;
}
.img-tube-tablet{
	display: none;
}
.img-insta-tablet{
	display: none;
}

.fabric-web{
	display: none;
}

.table-web{
	display: none;
}

.boxes-web{
	display: none;
}

.header-web{
	display: none;
}

.grid-clients-web{
	display: none;
} 

.menu-bg{
	background: rgba(255,255,255,0.7);
	border-radius: 0 30px 30px 0;
	text-align: center;
	width: 50px;
	padding: 2px 8px 2px 0;
}

.Background{
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background: url('../images/bg_home.png') no-repeat;
	background-size: cover;
	z-index: 99999;
}

.Background-about{
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background: url('../images/bg_about.png') no-repeat;
	background-size: cover;
	z-index: 99999;
	background-color: #4b4b4b;
}

.Background-choose{
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background: url('../images/bg_choose.png') repeat-y;
	background-size: cover;
	z-index: 99999;
	background-color: #4b4b4b;
}

.Background-service{
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background: url('../images/bg_service.png') repeat-y;
	background-size: cover;
	z-index: 99999;
	background-color: #4b4b4b;
}

.Background-alliance{
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background: url('../images/bg_alliance.png') repeat-y;
	background-size: cover;
	z-index: 9;
	background-color: #4b4b4b;
}

.Background-clients{
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background: url('../images/bg_clients.png') repeat-y;
	background-size: cover;
	z-index: 99999;
	background-color: #4b4b4b;
}

.Background-portfolio{
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background: url('../images/bg_portfolio.png') repeat-y;
	background-size: cover;
	z-index: 99999;
	background-color: #4b4b4b;
}

.Background-contact{
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background: url('../images/bg_contact.png') repeat-y;
	background-size: cover;
	z-index: 99999;
	background-color: #4b4b4b;
}

.grid-clients-tablet{
 	display: none;
 }

.Image{
	padding: 0 0.5em 0 0.5em;
}

.Image-logo{
	width: 100%;
}

.Social{
	list-style: none;
}

.Social li{
	margin: 0.5em 0 0.5em -2em;
}


.Social-bg{
	background: rgba(255,255,255,0.7);
	border-radius: 30px 0 0 30px;
	text-align: center;
	width: 50px;
	padding: 8px 0 8px 0px;
}

.MainTitle{
	margin: 11em 0 0 0;
}

.MainAbout{
	margin: 15em 0 0 0;
	padding: 0.5em;
}

.MainTitle-sub-web{
	display: none;
}


.MainTitle-sub{
	text-align: center;
	color: #a4a9b2;
	text-transform: uppercase;
	margin:0;
	font-size: 1.5em;

}

.MainTitle-main{
	text-align: center;
	color: #f7941e;
	text-transform: uppercase;
	margin: 0;
	font-size: 1.5em;
}

.Footer{
	bottom: 0;
	right: 0;
	position: fixed;
	z-index: 9999999;
}

.Footer-text{
	background: rgba(255,255,255,0.7);
	border-radius: 30px 0 0 30px;
	text-align: center;
	padding: 0.7em;
    width: 275px;
    color: #232323;
    font-size: 0.8em;
    margin-bottom: 0;
}

.MainAbout-content{
	text-align: center;
	color: white;
}

.MainAbout-sub{
	text-align: center;
	color: white;
	text-transform: uppercase;
	margin: 1em 0 1em 0;
}

.MainAbout-main{
	text-align: center;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	margin: 0;
}

.MainChoose{
	margin: 15em 0 0 0;
	padding: 0.5em;
}

.MainChoose-sub{
	text-align: center;
	color: white;
	text-transform: uppercase;
	margin: 1em 0 1em 0;
}

.MainChoose-main{
	text-align: center;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	margin: 0;
	font-size: 2.2em;
}

.MainChoose-objectives-web{
	display: none;
}

.MainChoose-objectives{
	text-align: center;
}

.MainChoose-objectives-title{
	text-align: center;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.5em;
}

.MainChoose-objectives-list{
	color: white;
}

.MainChoose-objectives-subtitle{
	text-align: center;
	color: white;
}

.MainService{
	margin: 15em 0 15em 0;
	padding: 0.5em;
}

.MainService-sub{
	text-align: center;
	color: white;
	text-transform: uppercase;
	margin: 1em 0 1em 0;
}

.MainService-main{
	text-align: center;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	margin: 0;
	font-size: 2.2em;
}

.MainService-list-web{
	display: none;
}

.MainService-list{
	color: white;
}

.MainAlliance{
	margin: 15em 0 5em 0;
	padding: 0.5em;
	overflow: hidden;
}

.MainAlliance-main{
	text-align: center;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	margin: 0;
	font-size: 2.2em;
}

.MainAlliance-partner{
	text-align: center;
	margin: 2em 0 0 0;
}

.MainClients{
	margin: 15em 0 0 0;
	padding: 0.5em;
}

.MainClients-main{
	text-align: center;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	margin: 0;
	/*height: 710px;*/
	font-size: 2.2em;
}

.MainClients-partner{
	text-align: center;
	margin: 2em 0 0 0;
}


.MainPortfolio{
	margin: 15em 0 0 0;
	padding: 0.5em;
}

.MainPortfolio-main{
	text-align: center;
	font-weight: bold;
	color: white;
	margin-bottom: 2em;
	text-transform: uppercase;
	font-size: 2.2em;
}

.MainContact{
	margin: 15em 0 0 0;
	padding: 0.5em;
}

.MainContact-form{
	margin: 3em 0 6em 0;
}

.MainContact-main{
	text-align: center;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	margin: 0;
	/*height: 710px;*/
	font-size: 2.2em;
}

.control-label{
	color: #fff;
}

.Navigation{
	position: fixed;
	z-index: 99999;
	width: 50%;
	text-align: center;
	top: 0;
	max-width: 100%;
	
}

.Navigation ul{
	list-style: none;
	padding: 0;
	
}

.Navigation ul li{
	border: 1px solid #f47f21;
	width: 100%;
	margin: 0.1em 0 0.1em 0;
	padding: 1em 0 1em 0;
	background: rgba(255,255,255,0.9);
}


.MainContact-button-send{
	text-align: center;
}

.MainContact-button-send button{
	width: 30% !important;
  	margin: 1em 0 2em 0 !important;
  	border-radius: 0 !important;
  	outline: 0 none !important;
  	background-color: #b74f5c;
   	background: #b74f5c;
  	color: #fff;
  	text-transform: uppercase;
  	outline: 0 none !important;
  	border: 0 !important;
  	font-weight: bold;
  	padding: 0.5em;
}

.MainContact-button-send button:hover{
	
  	background-color: #b74f5c;
   	background: #b74f5c;
  	color: #fff;
}

.MainContact-form input, textarea{
  border-radius: 0 !important;
  outline: 0 none !important;
  background: rgba(255, 255, 255, 0.5) !important;
}

.MainContact-form input:focus{
  outline: 0 none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.MainContact-form textarea:focus{
  outline: 0 none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.MainContact-form .form-group{
	margin-right: 0 !important;
}


.margin-input{
	padding: 0 0 0 0.5em;
}
.banner{
	display: none;
}
.banner-mobile{
	position: relative; 
	height: 500px; 
	width: auto !important;
	margin-top: -11em;
}

.banner-mobile li{
	list-style: none;
}

.banner-mobile ul li{
	float: left;
}

.banner-tablet{
	display: none;
}

.grid-clients{
	padding: 0;
	margin-left: -1em;
}

.client-wrapper{
	padding: 0;
	text-align: center;
}

.lessright{
	margin-right: 0;
}

div.content-clients:first-child{
	margin-top: 7em;
	margin-bottom: 4em;
}

div.content-clients:last-child{
	margin-bottom: 7em;
}
.content-clients{
	margin: 2em 0 1em 0;
	padding: 0;
}

.prev{
	position: absolute;
    top: 15em;
	z-index: 999999;
}

.next{
	position: absolute;
    top: 15em;
    right: 0;
    z-index: 999999;
}

.address-content{
	font-size: 0.8em;
	color: white;
}

.address-content a{
	color: white;
}

.address-title{
	color: white;
	text-transform: uppercase;
	font-size: 0.9em;
}

.content-address{
	margin-top: 4em;
}

#bg2-wide{
	display: none;
}

.wrapper-buttons-filter{
	display: none;
}

.wrapper-buttons-filter-tablet{
	list-style: none;
	background: rgba(255,255,255,0.7);
	padding: 0.3em;
	width: 181px;
	border-radius: 35px;
	position: absolute;
	bottom: 0;
	left:0;
	margin-left: 4.5em;
	z-index: 999;
}

.wrapper-buttons-filter-tablet li{
	display: inline-block;
	margin: 0.5em;
}

.wrapper-buttons-filter-tablet li a, a:hover{
	text-decoration: none;
}
.wrapper-buttons-filter-tablet li a:hover span:before{
	color: #63b746;
}

#carousel-example-generic{
	display: none
}

#carousel-example-generic-tablet{
	display: none
}

.fabric-mobile{
	display: block;
    /* float: right; */
    margin-top: 1em;
    /* margin-right: 6em; */
    position: relative;
    width:400px;
    z-index: 9;
    left: -4em;
}

.fabric-mobile img{
	width: 326px;
}
.fabric-tablet{
	display: none;
}

.wrapper-anim-move-tablet{
	display: none;
}

.wrapper-anim-move-mobile{
	overflow: hidden;
    width: 271px;
    height: 44px;
    position: absolute;
    top: 17em;
    z-index: 9;
    margin-left: -114px;
}

.wrapper-anim-move-mobile img{
	width: 400px;
}

.gear-small{
	top: 0;
    right: 0;
    width: 15px !important;
    height: 15px;
    margin-top: 9.8em;
    margin-right: 7em;
}


.gear-big{
    top: 0;
    right: 0;
    width: 20px !important;
    height: 20px;
    margin-top: 9em;
    margin-right: 8em;
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.moving {
  -webkit-animation: linealMove 8s linear infinite;
  -moz-animation: linealMove 8s linear infinite;
  -ms-animation: linealMove 8s linear infinite;
  -o-animation: linealMove 8s linear infinite;
  animation: linealMove 8s linear infinite;
}

.clients-img-mobile{
    width: 60%;
}

div.content-clients:first-child {
    margin-top: 7em;
    margin-bottom: -4em;
}

.content-clients {
    margin: 2em 0 -3em -1.5em;
    padding: 0;
}

.MainClients-main{
	margin-top: -2em;
    margin-bottom: 2em;
}

.MainPortfolio-main {
    margin: -3em 0 -0.5em 0;
}

.wrapper-type-portfolio-mobile{
	position: absolute;
	bottom: 0;
	background: white;
	border-radius: 0 30px 30px 0;
	text-align: center;
	width: 37px;
	padding: 8px 8px 8px 0;
	margin-bottom: 0.5em;
}

.overlay-portfolio{
	transition: 0.2s opacity linear;
	opacity: 0;
    position: absolute;
    top: 0;
    margin-top: 0.4em;
    text-align: center;
    background: rgba(0,0,0,0.6);
    width: 79%;
    height: 94%;
    padding: 3.5em;
    z-index: 9;

}

.overlay-portfolio a{		
	position: relative;
    top: -9px;
}

.content-img-portfolio{
	position: relative;
    padding: 6px;
    margin-bottom: -4em;
    margin: 39px -12px -36px 18px;
    height: 148px;
}

figure.content-img-portfolio:hover .overlay-portfolio{
	transition: 0.2s opacity linear;
	opacity: 1;
}
figure.content-img-portfolio:focus .overlay-portfolio{
	transition: 0.2s opacity linear;
	opacity: 1;
}

@media screen and (min-height: 568px){
	.wrapper-anim-move-mobile {
	    top: 21em !important;
	}
  	.fabric-mobile{
  		margin-top: 4em;
  	}
  	
}

@media screen and (min-height: 640px){
	.wrapper-anim-move-mobile {
	    top: 28em !important;
	}
  	.fabric-mobile{
  		margin-top: 11em !important;
  	}
  	
}

@media screen and (min-width: 320px){

  	.wrapper-anim-move-mobile {
	    top: 18em;
	}
  	
}

@media screen and (min-width: 360px){
  	
  	.fabric-mobile{
  		margin-top: 5em;
  	}

  	.wrapper-anim-move-mobile {
	    top: 22em;
	}

	.content-img-portfolio {
	    margin: 39px -12px -36px 40px;
	}

	.overlay-portfolio{
		width: 69%;
    	height: 95%;
	}
	.wrapper-buttons-filter-tablet {
	    margin-left: 6.5em;
	}
  	
}

@media screen and (min-width: 375px){
	.Social li {
    	margin: 0.5em 0 0.5em -1.5em;
    }
  	
  	.fabric-mobile{
  		margin-top: 10em;
  	}

  	.wrapper-anim-move-mobile {
	    top: 27em !important;
	}

	.overlay-portfolio {
	    width: 65%;
	    height: 95%;
	}

	.wrapper-buttons-filter-tablet{
		margin-left: 6.5em;
	}
}

@media screen and (min-width: 384px){

  	.fabric-mobile{
  		margin-top: 5em;
  	}

  	.wrapper-anim-move-mobile {
	    top: 22em !important;
	}

	.content-img-portfolio {
	    margin: 39px -12px -36px 55px;
	}

	.overlay-portfolio{
		width: 64%;
    	height: 95%;
	}

	.wrapper-buttons-filter-tablet {
	    margin-left: 7.2em;
	}
}


@media screen and (min-width: 412px){
    .fabric-mobile{
  		margin-top: 6em !important;
  	}

  	.wrapper-anim-move-mobile {
	    top: 23em !important;
	}

	.MainTitle{
		margin-top: 17em;
	}

	.banner-mobile{
		margin-top: -8em;
	}

	.content-img-portfolio {
	    margin: 39px -12px -36px 68px;
	}

	.overlay-portfolio{
		width: 59%;
    	height: 95%;
	}

	.wrapper-buttons-filter-tablet {
	    margin-left: 8.5em;
	}
}

@media screen and (min-width: 480px){
    .Social li {
    	margin: 0.5em 0 0.5em -0.5em;
    }
    .Background{
  		height:994px;
  	}
}

@media screen and (min-width: 567px){
    .Social li {
    	margin: 0.5em 0 0.5em 0.5em;
    }
    .Background{
  		height:1175px;
  	}

  	.MainTitle {
    	margin: 18em 0 0 0;
    }
}


@media screen and (min-width: 598px){
    .Social li {
    	margin: 0.5em 0 0.5em 1em;
    }
    .Background{
  		height:1238px;
  	}

  	.MainTitle {
    	margin: 18em 0 0 0;
    }
}

@media screen and (min-width: 600px){
    .MainAbout-content{
    	font-size: 1.2em;
    }

    .MainChoose-objectives-list{
    	font-size: 1.2em;
    }

    .MainChoose-objectives-list{
    	font-size: 1.2em;
    }

    .MainChoose-objectives-subtitle{
		font-size: 1.2em;
    }

    .MainService-list{
    	font-size: 1.2em;
    }

    .MainTitle {
    	margin: 20em 0 0 0;
    }

    .MainTitle-sub {
		font-size: 3em;
    }

    .MainTitle-main{
		font-size: 3.5em;
    }
}

@media screen and (min-width: 640px){
    .Social li {
    	margin: 0.5em 0 0.5em 1.5em;
    }
    .Background{
  		height:1325px;
  	}
}

@media screen and (min-width: 667px){    
    .Background{
  		height:1380px;
  	}
}

@media screen and (min-width: 690px){    
    .Social li {
    	margin: 0.5em 0 0.5em 2em;
    }

    .Background{
  		height:1427px;
  	}
}

/**** Tablets ***/


@media screen and (min-width: 768px){ 
	.img-lang{
		display: none;
	}
	.img-fb{
		display: none;
	}
	.img-twit{
		display: none;
	}
	.img-tube{
		display: none;
	}
	.img-insta{
		display: none;
	}

	.img-lang-tablet{
		display: block;
	}
	.img-fb-tablet{
		display: block;
	}
	.img-twit-tablet{
		display: block;
	}
	.img-tube-tablet{
		display: block;
	}
	.img-insta-tablet{
		display: block;
	}   
    .Social li {
    	margin: 0.5em 0 0.5em -0.5em;
    	padding-left: 1.5em;
    }

    .bottom{
    	margin-bottom: 5em;
    }


  	.Background{
    	background: url('../images/bg_hometablet.jpg') no-repeat;
    	background-color: #dfdfdf;
  		background-size: cover;
  		margin-top: -1em;
  		height: 100%;
  		box-sizing: border-box;
  	}

  	.Background-about{
		background: url('../images/bg_abouttablet.png') no-repeat;
		z-index: 99999;
		height: 100%;
  		box-sizing: border-box;
		background-color: #4b4b4b;
	}

	.Background-choose{
		background: url('../images/bg-choosetablet.png') no-repeat;
		background-size: cover;
		z-index: 99999;
		background-color: #4b4b4b;
		height: 100%;
  		box-sizing: border-box;
	}

	.Background-service{
		background: url('../images/bg-servicestablet.png') no-repeat;
		-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
		z-index: 99999;
		height: 100%;
		overflow: hidden;
  		box-sizing: border-box;
		/*height:1262px;*/
		background-color: #4b4b4b;
	}

	.Background-alliance{
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		background: url('../images/bg-alliancetablet.png') repeat-y;
		background-size: cover;
		z-index: 9;
		background-color: #4b4b4b;
	}

	.Background-clients{
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		background: url('../images/bg-clientstablet.png') repeat-y;
		background-size: cover;
		z-index: 99999;
		background-color: #4b4b4b;
		padding-bottom: 5em;
	}

	.Background-contact{
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		background: url('../images/bg-contactablet.png') repeat-y;
		background-size: cover;
		z-index: 99999;
		background-color: #4b4b4b;
		padding-bottom: 15em;
	}

	.MainAbout{
		margin: 25em 0 0 0;
    	padding: 1em 3em 0 3em;
	}
	.MainAbout-main{
		font-size: 3em;
	}

	.MainAbout-sub{
		font-size: 2em;
	}
	.MainAbout-content{
		font-size: 1.3em;
	}

	.special-title{
		margin-bottom: 4em;
	}

	.MainChoose{
		margin: 22em 0 0 0;
	}

	.MainChoose-main{
		font-size: 3em;
	}

	.MainChoose-sub{
		font-size: 2em;
	}
	.MainChoose-objectives-title{
		font-size: 2em;
	}
	.MainChoose-objectives-list{
		font-size: 1.2em;
	}
	.MainChoose-objectives-subtitle{
		font-size: 1.2em;
	}

	.MainService{
		margin: 22em 0 22em 0;
	}

	.MainService-main{
		font-size: 3.2em;
	}
	.MainService-sub{
		font-size: 2em;
	}
	.MainService-list{
		font-size: 2em;
	}

	.MainClients{
		margin: 25em 0 0 0;
	}

	.MainContact{
		margin: 25em 0 0 0;
	}

  	.menu-bg {	    
	    width: 70px;
	    padding: 11px 8px 11px 0;
	}

  	.Image {
	    padding: 0 3.5em 0 3.5em;
	}

	.MainTitle {
    	margin: 25em 0 0 0;
    }

    .MainTitle-sub {
		font-size: 3em;
    }

    .MainTitle-main{
		font-size: 3.5em;
    }

    .MainContact-form{
    	margin: 3em 0 0 0;
    	padding-right: 6em;
    }

    .MainAlliance-main{
    	margin: 2em 0 0 0;
    }

	/*.Social{
		position: fixed;
    	right: 0;
	}*/

    .Social-bg {
    	text-align: center;
	    width: 95px;
	    padding: 11px 0 11px 0px;
    }

    .Footer-text{
    	width: 413px;
    	font-size: 1em;
    }

    .grid-clients-tablet{
    	display: block;
    }

    .grid-clients{
    	display: none;
    }

    .clients-img-tablet{
    	width: 60%;
    }
    .input-areatablet{
    	height: 200px !important;
    }
    .input-tablet{
    	height: 50px;
    }

    .address-content{
    	font-size: 0.8em;
    	color: white;
    }

    .address-content a{
    	color: white;
    }

    .address-title{
    	color: white;
    	text-transform: uppercase;
    }

    .content-address{
    	margin-top: 4em;
    }
    

    .gear-small{
		top: 0;
		right: 0;
		width: 30px !important;
		height: 30px;
		margin-top: 19.5em;
    	margin-right: 8em;
	}


	.gear-big{
        top: 0;
	    right: 0;
	    width: 45px !important;
	    height: 45px;
	    margin-top: 17.5em;
    	margin-right: 10.5em;
	}

	.wrapper-anim-move-tablet{
		overflow: hidden;
	    width: 100%;
	    height: 44px;
	    position: absolute;
	    top: 38em;
	    z-index: 9;
	    margin-left: -373px;
	}

	.boxes-tablet{
		display: block;
		position: absolute;
		top: 0;		
	
	}

	#bg1{
		display: none;
	}

	#bg2{
	    display: none;
	}

	#bg3{
		display: none;
	}

	.bgAllianceTransparent{
    	display: none;
    }

    .bgAllianceSolid{
    	display: none;
    }

    .banner-mobile{
		display: none;
    }

    .banner{
    	display: none;
    }

    .banner-tablet{
		display:block;
		position: relative; 
		height: 500px; 
		width: auto !important;
	}

	.banner-tablet li{
		list-style: none;
	}

	.banner-tablet ul li{
		float: left;
	}

	.content-clients {
	    margin: 2em 0 -3em 0;
	}

	div.content-clients:first-child{
		margin-bottom: -4em;
	}

	.prev{
	    top: 19em;
	}

	.next{	
	    top: 19em;
	}

	.gallery-portfolio{
		margin-left: 9em;
   		width: 100%;
	}

	.content-img-portfolio{
		position: relative;
	    padding: 6px;
	    margin-bottom: -4em;
	    margin: 34px -12px -36px -33px;
	    height: 148px;
	}

	.content-img-portfolio{
		margin-top: 44px;
	}

	.wrapper-type-portfolio-tablet{
		position: absolute;
		bottom: 0;
		background: white;
		border-radius: 0 30px 30px 0;
		text-align: center;
		width: 37px;
		padding: 8px 8px 8px 0;
		margin-bottom: 0.5em;
	}

	.overlay-portfolio{
		transition: 0.2s opacity linear;
		opacity: 0;
	    position: absolute;
	    top: 0;
	    margin-top: 0.4em;
	    text-align: center;
	    background: rgba(0,0,0,0.6);
	    width: 61%;
    	height: 96%;
	    padding: 3.5em;
	    z-index: 9;

	}

	.overlay-portfolio a{		
		position: relative;
	    top: -9px;
	}
	
	figure.content-img-portfolio:hover .overlay-portfolio{
		transition: 0.2s opacity linear;
		opacity: 1;
	}
	figure.content-img-portfolio:focus .overlay-portfolio{
		transition: 0.2s opacity linear;
		opacity: 1;
	}

	.fabric-tablet{
		display: block;
	    /* float: right; */
	    margin-top: 3em;
	    /* margin-right: 6em; */
	    position: relative;
	    z-index: 9;
	    left: -4em;
	}

	.fabric-mobile{
		display: none;
	}


	.wrapper-anim-move-mobile{
		display: none;
	}

	#carousel-example-generic-tablet{
		display: block;
	}

	#carousel-example-generic{
		display: none;
	}

	#carousel-example-generic-mobile{
		display: none
	}

}


@media screen and (min-width: 768px){ 
	
    .Social li {
    	margin: 0.5em 0 0.5em 0;
    	padding-left: 1.5em;
    }

}

@media screen and (min-width: 960px){ 
	
    .Social li {
    	margin: 0.5em 0 0.5em 2em;
    	padding-left: 1.5em;
    }

}

/*** web ***/

@media screen and (min-width: 1024px){ 

	.portfolio-tablet{
		display: none;
	}
	.fabric-tablet{
    	display: none;
    }
    .boxes-tablet{
		display: none;
	}
   .header-mobile{
   	 display: none;
   }

   .header-web{
   	 display: block;
   }

   .Image{
   	 text-align: center;
   }

   .Image-logo{
   	width: 231px;
   }

   
	.menu-bg-web{
		position: fixed;
		top: 9em;
		z-index: 99;
	}

	.web-logo{
		position: fixed;
		top: 0;
		width: 100%;
    	z-index: 99999999;
	}

	.web-social{
		position: fixed;
		top: 0;
		right: 6em;
		z-index: 999999999999;
	}

	.menu-bg-web ul{
		list-style: none;
		padding: 0;
		
	}

	.menu-bg-web ul li{
		background: rgba(255,255,255,0.7);
		border-radius: 0 30px 30px 0;
		text-align: center;
		width: 80px;		
		padding: 1em 8px 1em 0;
		margin: 0.2em 0 0 0; 
	}

	.menu-bg-web ul li a, a:hover{
		text-decoration: none;
	}

	.menu-bg-web ul li a span{
		color: #f47f21;
	}

	.menu-bg-web ul li a:hover span{
		color: #63b746;
	}

	
	
	.Social{
		width: 600px;
		margin-right: -22em;
	}

	.Social li{
		display: inline-block;
		margin: 0 0.2em 0.2em 0.2em;
		padding-left : 0;
	}

	.Social-bg{
		background: rgba(255,255,255,0.7);
		border-radius: 0 0 30px 30px;
		text-align: center;
		width: 50px;
		height: 50px;
		padding: 8px 0 8px 0px;
	}

	.Background{
    	background: url('../images/bg_home_websimple.png') no-repeat 100% 100% fixed;
    	background-color: #dfdfdf;
  		background-size: cover;
  		margin-top: -1em;
  		height: 100%;
  		box-sizing: border-box;
  	}

  	.Background-about{
		background: url('../images/bg_aboutweb_1700.jpg') no-repeat 100% 100% fixed;
		background-size: cover;
		-webkit-background-size: cover;
		z-index: 99999;
		background-color: #5b5b5a;
		box-sizing: border-box;
	}

	.Background-choose{
		background: url('../images/bg_chooseweb_1700.jpg') no-repeat center center fixed;
		background-size: cover;
		-webkit-background-size: cover;
		z-index: 99999;
		background-color: #4b4b4b;
		box-sizing: border-box;
	}

	.Background-service{		
		background: url('../images/bg_serviceweb_1700.jpg') no-repeat center center fixed;
		background-size: cover;
		z-index: 99999;
		height:980px;
		/*height:1262px;*/
		background-color: #4b4b4b;
	}

	.Background-portfolio{
		background: url('../images/bg_portfolioweb_1700.jpg') no-repeat center center fixed;
		background-size: cover;
		z-index: 99999;
		height:980px;
		background-color: #3a3150;
	}

	.Background-alliance{
		background: url('../images/bg_allianceweb_1700.jpg') no-repeat center center;
		background-size: cover;
		z-index: 9;
		height:980px;
		background-color: #4b4b4b;
		position: relative;
	}

	.Background-clients{
		background: url('../images/bg_clientsweb_1700.jpg') no-repeat center center fixed;
		background-size: cover;
		z-index: 99999;
		height:980px;
		background-color: #4b4b4b;
		padding-bottom: 5em;
	}

	.Background-contact{
		background: url('../images/bg_contactweb_1700.jpg') no-repeat center center fixed;
		background-size: cover;
		z-index: 99999;
		height:1040px;
		background-color: #4b4b4b;
		padding-bottom: 15em;
	}

	.MainAbout-content{
		padding: 0 4em 0 4em;
		font-size: 1.2em;
	}


  	.MainTitle{
  		margin: 18em 0 0 0;

  	}

  	.MainTitle-sub{
  		display: none;
  	}

  	.MainTitle-main{
  		display: none;
  	}

  	.MainTitle-sub-web{
  		display: block;
		text-align: center;
		color: #a4a9b2;
		text-transform: uppercase;
		margin:0;
		font-size: 1.7em;
	}

	.MainTitle-main-web{				
		color: #f7941e;
		text-transform: uppercase;
		margin: 0;

	}

	.special-title{
		color: #90c23e;
		font-weight: bold;
	}

	.MainChoose-objectives{
		display: none;
	}

	.MainChoose-objectives-web{
		display: block;
		text-align: center;
	}
	
	.MainService-list{
		display: none;
	}
	.MainService-list-web{
		display: block;
		list-style: none;
    	margin: 3em 0 0 6em;
		width: 55%;
		float: left;
		overflow: hidden;
		color: white;
	}

	.MainService-list-web li{
		font-size: 1em;
		padding-left: 1em;
	}

	/*.MainService-list-web li:hover{
		border: 2px solid white;
		border-right: none;
		border-radius: 30px 0 0 30px;
		background: #0b1e2e;
		z-index: 999999999999;
		width: 30.3em;
		position: relative;
		padding-left: 1em;
	}*/

	.MainService-list-web-hover{
		border: 2px solid white;
		border-right: none;
		border-radius: 30px 0 0 30px;
		background: #0b1e2e;
		z-index: 999999999999;
		width: 30.3em;
		position: relative;
		padding-left: 1em;
	}



	.box-service-content{
		border: 2px solid white;
		width: 387px;
		height: auto;
		display: none;
		padding-bottom: 3em;
		position: absolute;
    	right: 0;
    	margin-right: 2.2em;
    	border-radius: 30px;
    	background: #0b1e2e;
	}

	.box-service-content h3{
		text-align: center;
		color: #84b23c;
		margin: 2em 0 0 0;
	}

	.box-service-content ul{
		color: white;
		margin: 2em 0 0 0;
	}

	.MainAbout-main{
		font-size: 2em;
    	margin: 0 1em 0 0;
	}

	.MainContact-main{
		font-size: 2em;
    	margin: 0 1em 0 0;
	}

	.MainChoose-main{
		font-size: 2em;
    	margin: -4em 1em 0 0;
	}

	.MainChoose {
	    margin: 24em 0 0 0;
	}

	.MainChoose-sub {
    	font-size: 1.3em;
    	margin: 1em 1em 1em 0;
	}

	.MainService-main{
		font-size: 2em;
    	margin: 0 1em 0 0;
	}

	.MainPortfolio-main{
		font-size: 2em;
    	margin: 0 1em 2em 0;
	}

	.MainService-sub {
    	font-size: 1.3em;
    	margin: 1em 1.5em 1em 0;
	}
	.MainAlliance-main{
		margin: 0 1em 6em 0;
    	font-size: 2em;
	}



	.MainAbout-sub {
    	font-size: 1.3em;
    	margin: 1em 1em 1em 0;
	}

	.MainContact-button-send button{
		width: 14% !important;
	}

	.margin-input{
		padding: 0 16em 0 6.5em;
	}
	.MainAlliance{
		margin: 15em 0 21em 0;
	}

	.fabric-tablet{
    	display: none;
    }

	.fabric-web{
		display: block;
	    float: right;
	    margin-top: 7em;
	    /* margin-right: 6em; */
	    position: relative;
	    z-index: 9;
	    left: 5em;
	    /* width: 100%; */
	    width: 1300px;
   		/*width:100%;*/
	}
	.table-web{
		display: block;
		position: absolute;
		bottom: 0;
		margin-left: -2em
	}

	.boxes-web{
		display: block;
		position: absolute;
		top: 0;		
	
	}

	.table-web img{
		width: 100%;
	}

	.wrapper-anim-move{
		overflow: hidden;
	    width: 100%;
	    height: 44px;
	    position: absolute;
	    top: 35em;
	    z-index: 9;
	    margin-left: -215px;
	}

	.gear-small{
		top: 0;
		right: 0;
		width: 30px !important;
		height: 30px;
		margin-top: 26.5em;
    	margin-right: 5em;
	}


	.gear-big{
        top: 0;
	    right: 0;
	    width: 45px !important;
	    height: 45px;
	    margin-top: 24.5em;
    	margin-right: 7em
	}

	.wrapper-page{
		margin: 2em 0 2em 9em;
	}

	/*.wrapper-page figure img{
		width: 80%;
	}*/

	.gallery-portfolio{
		margin-left: 9em;
   		width: 100%;
	}



	.content-img-portfolio{
		position: relative;
	    padding: 6px;
	    margin-bottom: -4em;
	    margin: 34px -12px -36px -33px;
	    height: 148px;

	}

	.grid-clients-web{
		display: block;
	}

	.grid-clients-tablet{
		display: none;
	}

	.MainClients-main {
	    margin: -4em 1em 1em 0;
	    font-size: 2em;
	}

	div.content-clients:first-child{
		margin-top: 3em;
   		margin-bottom: -1em;
	}

	.prev{
		margin-left: 8em;
		top:12em;
	}

	.next{
		margin-right: 5em;
		top:12em;
	}



	.wrapper-type-portfolio{
		position: absolute;
		bottom: 0;
		background: white;
		border-radius: 0 30px 30px 0;
		text-align: center;
		width: 37px;
		padding: 8px 8px 8px 0;
		margin-bottom: 0.5em;
	}

	.content-img-portfolio img.portofolio-image{
		width: 76%;
	}
	

	.overlay-portfolio{
		transition: 0.2s opacity linear;
		opacity: 0;
	    position: absolute;
	    top: 0;
	    margin-top: 0.4em;
	    text-align: center;
	    background: rgba(0,0,0,0.6);
	    width: 73%;
	    height: 92%;
	    padding: 3.5em;
	    z-index: 9;

	}

	.overlay-portfolio a{		
		position: relative;
	    top: -9px;
	}


	figure.content-img-portfolio:hover .overlay-portfolio{
		transition: 0.2s opacity linear;
		opacity: 1;
	}


	#bg1{
		display: block;
	    z-index: 0;
	    position: absolute;
	    top: 4em;
	    left: -4em;
	    width: 100%;
	    height: 477px;
	    background: url(../images/item_bg_medium.png) no-repeat 0 0;
	}

	#bg2{
	    display: block;
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    width: 125px;
	    height: 125px;
	    margin-bottom: 21em;
    	margin-right: 23em;
	    background: url(../images/item_bg_small.png) no-repeat 0 0;
	}

	#bg3{
		display: block;	 
	    position: absolute;
	    top: 0;
	    right: 0;
	    width: 443px;
	    height: 884px;
	    margin-right: 0em;
    	margin-top: -17em;
	    background: url(../images/item_bg_big.png) no-repeat 0 0;
	}

	.machine{
		width: 100%;
	}

	.control-label{
		position: relative;
    	left: 6em;
	}

	.content-address{
    	margin-bottom: 5em;
    }

    .MainContact{
    	margin: 19em 0 0 0;
    }

    .bgAllianceTransparent{
    	z-index: 0;
	    position: absolute;
	    width: 100px;
	    height: 108px;
	    background: url(../images/bg_alliance_transparent.png) no-repeat 0 0;
	    background-size: contain;
	    opacity: 0.5;
	    -webkit-opacity: 0.5;
    }

    .bgAllianceSolid{
    	z-index: 0;
	    position: absolute;
	    width: 100px;
	    height: 108px;
	    background: url(../images/bg_alliance_solid.png) no-repeat 0 0;
	    background-size: contain;
	    opacity: 0.2;
	    -webkit-opacity: 0.2;
    }

 
	
	.banner-mobile{
		display: none;
	}

	.banner-tablet{
		display: none;
	}

    .banner{
		display:block;
		position: relative; 
		height: 500px; 
		width: auto !important;
	}

	.banner li{
		list-style: none;
	}

	.banner ul li{
		float: left;
	}

	.special-title {
	    margin-bottom: 18em;
	}

	.wrapper-buttons-filter-tablet{
		display: none;
	}

	.wrapper-buttons-filter{
		display: block;
		list-style: none;
		background: rgba(255,255,255,0.7);
		padding: 0.3em;
		width: 181px;
		border-radius: 35px;
		position: absolute;
		top: 0;
		right:0;
		margin-right: 9em;
	}

	.wrapper-buttons-filter li{
		display: inline-block;
		margin: 0.5em;
	}

	.wrapper-buttons-filter li a, a:hover{
		text-decoration: none;
	}
	.wrapper-buttons-filter li a:hover span:before{
		color: #63b746;
	}
	
	#carousel-example-generic-mobile{
		display: none
	}

	#carousel-example-generic-tablet{
		display: none
	}

	#carousel-example-generic{
		display: block
	}

}


@media screen and (min-width: 1200px){
	.MainService-list-web{
		
    	margin: 3em 0 0 8em;
		
	}

	.MainService-list-web li{
		
    	font-size: 1.3em;
		
	}
	/*.MainService-list-web li:hover{		
		width: 100%;
		
	}*/

	.MainService-list-web-hover{
		width: 100%;
	}

	.table-web img{
		width: 100%;
	}

	#bg2{	 	    
	    margin-right: 30em;
	}

	#bg3{	 
    	margin-top: -11em;
	}

	.fabric-web {
        margin-right: 4em;
	    left: 5em;
	    width: 1362px;
	    margin-top: -14em;
	}

	.wrapper-anim-move{
        top: 16em;
		margin-left: -284px;
	}

	.gear-small{
		margin-top: 28em;
   		margin-right: 5em;
	}


	.gear-big{
        margin-top: 26em;
    	margin-right: 8em;
	}

	.overlay-portfolio a{
		padding: 0 0 0 0.6em;		 
	}

	.MainAbout-main{
		font-size: 2em;
    	margin: -5em 1em 0 0;
	}

	.MainChoose-objectives-web{
		width: 100%;
	}

	.MainChoose-objectives-web img{
		width: 35%;
	}

	.MainChoose-objectives-title{
		font-size: 1.5em;
	}

	.MainChoose-objectives-list {
	    font-size: 1em;
	}
	.MainChoose-objectives-subtitle {
	    font-size: 1em;
	}

	.MainService-main {
	    font-size: 1.5em;
	    margin: -4em 1em 0 0;
	}

	.MainService-sub {
	    font-size: 1.1em;
	    margin: 1em 1.5em 1em 0;
	}

	.MainAlliance-partner{
		margin: -4em 0 0 0;
	}

	.MainClients-main {
	    margin: -6em 1em 1em 0;
	    font-size: 1.5em;
	}

	div.content-clients:first-child {
	    margin-top: 1em;
	    margin-bottom: -3em;
	}
	.content-clients {
	    margin: 2em 0 -1em 0;
	    padding: 0;
	}

	.prev{
	    top: 11em;
	}

	.next{	
	    top: 11em;
	}


}	


@media screen and (min-width: 1440px){
	.fabric-web {
        margin-right: -4em;
	    left: 5em;
	    width: 2000px;
	    margin-top: -20em;
	}

	.gear-big {
	    margin-top: 38.5em;
	    margin-right: 12em;
	}

	.gear-small {
	    margin-top: 42em;
	    margin-right: 8em;
	}

	.wrapper-anim-move {
	    top: 24em;
	    margin-left: -297px;
	}

	#bg2{	 	    
	    margin-right: 40em;
    	margin-top: 15em;
	}

	.MainChoose-objectives-web{
		width: 100%;
	}

	.MainChoose-objectives-web img{
		width: 50%;
	}

	..MainChoose-objectives-title{
		font-size: 2em;
	}

	.MainChoose-objectives-list {
	    font-size: 1.2em;
	}
	.MainChoose-objectives-subtitle {
	    font-size: 1.2em;
	}

	.MainChoose {
	    margin: 22em 0 2em 0;
	}
}

@media screen and (min-width: 1600px){
	.fabric-web {
	    margin-right: -10em;
	    left: 5em;
	    width: 1600px;
	    margin-top: -14em;
	}

	.gear-big {
	    margin-top: 30.5em;
	    margin-right: 10em;
	}

	.gear-small {
	    margin-top: 33em;
	    margin-right: 6em;
	}

	#bg2{	 	    
	    margin-right: 33em;
	    margin-top: 5em;
	}
	
	.wrapper-anim-move {
	    top: 21em;
	    margin-left: -596px;
	    width: 150%;
	}

	.special-title {
	    margin-bottom: 18em;
	}

}

@media screen and (min-width: 1800px){
	.fabric-web {
	    margin-right: -17em;
	    left: 5em;
	    width: 2000px;
	    margin-top: -15em;
	}
	
	.gear-big {
	    margin-top: 38.5em;
	    margin-right: 12em;
	}

	.gear-small {
	    margin-top: 42em;
	    margin-right: 8em;
	}

	.wrapper-anim-move {
	    top: 28em;
    	margin-left: -571px;
	    width: 150%;
	}
	#bg2{
		 margin-top: 15em;
    	 margin-right: 43em;
	}
	
}




@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes linealMove /* Safari and Chrome */ {
  from {
    -ms-transform: translateX(817px);
    -moz-transform: translateX(817px);
    -webkit-transform: translateX(817px);
    -o-transform: translateX(817px);
    transform: translateX(817px);
  }
  to {
    -ms-transform: translateX(-817px);
    -moz-transform: translateX(-817px);
    -webkit-transform: translateX(-817px);
    -o-transform: translateX(-817px);
    transform: translateX(-817px);
  }
}
@keyframes linealMove {
  from {
    -ms-transform: translateX(817px);
    -moz-transform: translateX(817px);
    -webkit-transform: translateX(817px);
    -o-transform: translateX(817px);
    transform: translateX(817px);
  }
  to {
    -ms-transform: translateX(-817px);
    -moz-transform: translateX(-817px);
    -webkit-transform: translateX(-817px);
    -o-transform: translateX(-817px);
    transform: translateX(-817px);
  }
}
